name: Compile LaTeX document

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Set up Git repository
      uses: actions/checkout@v4.1.0

    - name: Cache LaTeX packages and latexmk
      id: cache-latex
      uses: actions/cache@v3.3.2
      with:
        path: |
          ~/.texlive
          /usr/share/texlive
          /usr/local/texlive
        key: latex-packages-${{ hashFiles('**/*.tex') }}
        restore-keys: |
          latex-packages-

    - name: Install TexLive
      run: |
        wget https://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
        zcat < install-tl-unx.tar.gz | tar -xv
        ls
        cd install-tl-20*
        sudo perl ./install-tl --no-interaction
        echo "export PATH=\"/usr/local/texlive/2023/bin/x86_64-linux:\$PATH\"" >> $GITHUB_ENV
      shell: bash
      working-directory: /tmp/

    - name: Install LaTeX distribution
      run: |
        sudo apt-get update
        sudo apt-get install -y texlive-latex-extra texlive-lang-spanish texlive-fonts-extra texlive-bibtex-extra biber make git latexmk
        sudo tlmgr init-usertree
        sudo tlmgr update --self --all
        sudo tlmgr install commath
      shell: bash
      if: steps.cache-latex.outputs.cache-hit != 'true'

    - name: Compile LaTeX document
      run: |
        latexmk -interaction=nonstopmode -pdf -output-directory=00-out requerimientos.tex
      working-directory: src
      
    - name: Move PDF to root directory
      run: |
        mv src/00-out/requerimientos.pdf requerimientos.pdf

    - name: Commit files
      run: |
        git add .
        git commit -m "PDF Requerimientos"
        git push origin master
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
